<a href="https://colab.research.google.com/github/piumixit/BigDataAssignment/blob/main/SLEdu.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!git clone https://github.com/piumixit/BigDataAssignment
%cd BigDataAssignment

Cloning into 'BigDataAssignment'...
remote: Enumerating objects: 64, done.
remote: Counting objects: 100% (64/64), done.
remote: Compressing objects: 100% (59/59), done.
remote: Total 64 (delta 26), reused 0 (delta 0), pack-reused 0 (from 0)
Receiving objects: 100% (64/64), 213.53 KiB | 8.90 MiB/s, done.
Resolving deltas: 100% (26/26), done.
/content/BigDataAssignment

In [76]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("StudentPerformanceAnalysis").getOrCreate()

!wget https://github.com/piumixit/BigDataAssignment/raw/main/data/Table01Studentsofgovernmentschoolenrollment_byprovincedistrictandgrade2020.csv -O Table01Studentsofgovernmentschoolenrollment_byprovincedistrictandgrade2020.csv
!wget https://github.com/piumixit/BigDataAssignment/raw/main/data/Table07Teachersofallschools_bydistrictandsex2020.csv -O Table07Teachersofallschools_bydistrictandsex2020.csv
!wget https://github.com/piumixit/BigDataAssignment/raw/main/data/Table11StudentsteacherratiosSTRs_byprovincedistrictandyear.csv -O Table11StudentsteacherratiosSTRs_byprovincedistrictandyear.csv
!wget https://github.com/piumixit/BigDataAssignment/raw/main/data//Table14Performanceofschoolcandidates1st_attemptofGCE-OL-examination_bydistrict-sexandyear.csv -O Table14Performanceofschoolcandidates1st_attemptofGCE-OL-examination_bydistrict-sexandyear.csv
!wget https://github.com/piumixit/BigDataAssignment/raw/main/data/Table15PerformanceofallcandidatesofGCE-AL-examination_bydistrict-sexandyear.csv -O Table15PerformanceofallcandidatesofGCE-AL-examination_bydistrict-sexandyear.csv

df1 = spark.read.csv('Table01Studentsofgovernmentschoolenrollment_byprovincedistrictandgrade2020.csv', header=True, inferSchema=True)
df2 = spark.read.csv('Table07Teachersofallschools_bydistrictandsex2020.csv', header=True, inferSchema=True)
df3 = spark.read.csv('Table11StudentsteacherratiosSTRs_byprovincedistrictandyear.csv', header=True, inferSchema=True)
df4 = spark.read.csv('Table14Performanceofschoolcandidates1st_attemptofGCE-OL-examination_bydistrict-sexandyear.csv', header=True, inferSchema=True)
df5 = spark.read.csv('Table15PerformanceofallcandidatesofGCE-AL-examination_bydistrict-sexandyear.csv', header=True, inferSchema=True)

df1.show(5)
df2.show(5)
df3.show(5)
df4.show(5)
df5.show(5)

--2025-09-20 04:29:34--  https://github.com/piumixit/BigDataAssignment/raw/main/data/Table01Studentsofgovernmentschoolenrollment_byprovincedistrictandgrade2020.csv
Resolving github.com (github.com)... 140.82.116.3
Connecting to github.com (github.com)|140.82.116.3|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/piumixit/BigDataAssignment/main/data/Table01Studentsofgovernmentschoolenrollment_byprovincedistrictandgrade2020.csv [following]
--2025-09-20 04:29:34--  https://raw.githubusercontent.com/piumixit/BigDataAssignment/main/data/Table01Studentsofgovernmentschoolenrollment_byprovincedistrictandgrade2020.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.111.133, 185.199.110.133, 185.199.108.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.111.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 5277 (5.2K) [text/plain]
Saving to: ‘Table01Studentsofgovernmentschoolenrollment_byprovincedistrictandgrade2020.csv’

Table01Studentsofgo 100%[===================>]   5.15K  --.-KB/s    in 0s

2025-09-20 04:29:34 (60.8 MB/s) - ‘Table01Studentsofgovernmentschoolenrollment_byprovincedistrictandgrade2020.csv’ saved [5277/5277]

--2025-09-20 04:29:34--  https://github.com/piumixit/BigDataAssignment/raw/main/data/Table07Teachersofallschools_bydistrictandsex2020.csv
Resolving github.com (github.com)... 140.82.116.3
Connecting to github.com (github.com)|140.82.116.3|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/piumixit/BigDataAssignment/main/data/Table07Teachersofallschools_bydistrictandsex2020.csv [following]
--2025-09-20 04:29:35--  https://raw.githubusercontent.com/piumixit/BigDataAssignment/main/data/Table07Teachersofallschools_bydistrictandsex2020.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1306 (1.3K) [text/plain]
Saving to: ‘Table07Teachersofallschools_bydistrictandsex2020.csv’

Table07Teachersofal 100%[===================>]   1.28K  --.-KB/s    in 0s

2025-09-20 04:29:35 (61.4 MB/s) - ‘Table07Teachersofallschools_bydistrictandsex2020.csv’ saved [1306/1306]

--2025-09-20 04:29:35--  https://github.com/piumixit/BigDataAssignment/raw/main/data/Table11StudentsteacherratiosSTRs_byprovincedistrictandyear.csv
Resolving github.com (github.com)... 140.82.116.3
Connecting to github.com (github.com)|140.82.116.3|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/piumixit/BigDataAssignment/main/data/Table11StudentsteacherratiosSTRs_byprovincedistrictandyear.csv [following]
--2025-09-20 04:29:35--  https://raw.githubusercontent.com/piumixit/BigDataAssignment/main/data/Table11StudentsteacherratiosSTRs_byprovincedistrictandyear.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 488 [text/plain]
Saving to: ‘Table11StudentsteacherratiosSTRs_byprovincedistrictandyear.csv’

Table11Studentsteac 100%[===================>]     488  --.-KB/s    in 0s

2025-09-20 04:29:35 (38.4 MB/s) - ‘Table11StudentsteacherratiosSTRs_byprovincedistrictandyear.csv’ saved [488/488]

--2025-09-20 04:29:35--  https://github.com/piumixit/BigDataAssignment/raw/main/data//Table14Performanceofschoolcandidates1st_attemptofGCE-OL-examination_bydistrict-sexandyear.csv
Resolving github.com (github.com)... 140.82.116.3
Connecting to github.com (github.com)|140.82.116.3|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/piumixit/BigDataAssignment/main/data/Table14Performanceofschoolcandidates1st_attemptofGCE-OL-examination_bydistrict-sexandyear.csv [following]
--2025-09-20 04:29:35--  https://raw.githubusercontent.com/piumixit/BigDataAssignment/main/data/Table14Performanceofschoolcandidates1st_attemptofGCE-OL-examination_bydistrict-sexandyear.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 4584 (4.5K) [text/plain]
Saving to: ‘Table14Performanceofschoolcandidates1st_attemptofGCE-OL-examination_bydistrict-sexandyear.csv’

Table14Performanceo 100%[===================>]   4.48K  --.-KB/s    in 0s

2025-09-20 04:29:36 (49.9 MB/s) - ‘Table14Performanceofschoolcandidates1st_attemptofGCE-OL-examination_bydistrict-sexandyear.csv’ saved [4584/4584]

--2025-09-20 04:29:36--  https://github.com/piumixit/BigDataAssignment/raw/main/data/Table15PerformanceofallcandidatesofGCE-AL-examination_bydistrict-sexandyear.csv
Resolving github.com (github.com)... 140.82.116.3
Connecting to github.com (github.com)|140.82.116.3|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/piumixit/BigDataAssignment/main/data/Table15PerformanceofallcandidatesofGCE-AL-examination_bydistrict-sexandyear.csv [following]
--2025-09-20 04:29:36--  https://raw.githubusercontent.com/piumixit/BigDataAssignment/main/data/Table15PerformanceofallcandidatesofGCE-AL-examination_bydistrict-sexandyear.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 4235 (4.1K) [text/plain]
Saving to: ‘Table15PerformanceofallcandidatesofGCE-AL-examination_bydistrict-sexandyear.csv’

Table15Performanceo 100%[===================>]   4.14K  --.-KB/s    in 0s

2025-09-20 04:29:36 (41.8 MB/s) - ‘Table15PerformanceofallcandidatesofGCE-AL-examination_bydistrict-sexandyear.csv’ saved [4235/4235]

+-------------------+-------+-------+-------+-------+-------+-------+-------+-------+-------+--------+------------+------------------+---------+----------+-----------------+---------+
|Province / District|Grade 1|Grade 2|Grade 3|Grade 4|Grade 5|Grade 6|Grade 7|Grade 8|Grade 9|Grade 10|Grade 11-1st|Grade 11 repeaters|Grade 12 | Grade 13 |Special education|    Total|
+-------------------+-------+-------+-------+-------+-------+-------+-------+-------+-------+--------+------------+------------------+---------+----------+-----------------+---------+
|          Sri Lanka|319,405|333,128|329,172|333,714|325,228|331,910|345,307|344,391|335,829| 321,885|     305,566|             9,534|  218,191|   202,923|            7,502|4,063,685|
|   Western province| 68,512| 71,603| 71,457| 73,126| 71,412| 75,830| 80,316| 79,101| 78,238|  76,800|      74,258|               557|   54,323|    51,149|            1,195|  927,877|
|            Colombo| 24,687| 25,994| 25,909| 26,786| 26,496| 29,775| 31,491| 30,949| 30,785|  30,357|      29,753|               131|   23,250|    21,724|              340|  358,427|
|            Gampaha| 26,351| 27,392| 27,587| 28,112| 27,292| 28,203| 29,766| 29,287| 28,786|  28,388|      27,606|                50|   19,202|    18,135|              512|  346,669|
|           Kalutara| 17,474| 18,217| 17,961| 18,228| 17,624| 17,852| 19,059| 18,865| 18,667|  18,055|      16,899|               376|   11,871|    11,290|              343|  222,781|
+-------------------+-------+-------+-------+-------+-------+-------+-------+-------+-------+--------+------------+------------------+---------+----------+-----------------+---------+
only showing top 5 rows

+---------+----------+---+------+------+-------+--------+
| District|Both sexes|_c2|  Male|Male %| Female|Female %|
+---------+----------+---+------+------+-------+--------+
|Sri Lanka|   265,194|100|66,692|  25.1|198,502|    74.9|
|  Colombo|    22,206|100| 3,772|  17.0| 18,434|    83.0|
|  Gampaha|    19,151|100| 3,471|  18.1| 15,680|    81.9|
| Kalutara|    12,605|100| 2,186|  17.3| 10,419|    82.7|
|   Kandy |    19,320|100| 4,053|  21.0| 15,267|    79.0|
+---------+----------+---+------+------+-------+--------+
only showing top 5 rows

+---------+----+----+
|      _c0|2015|2020|
+---------+----+----+
|Sri Lanka|  18|16.3|
|  Colombo|  22|20.0|
|  Gampaha|  22|20.8|
| Kalutara|  20|19.3|
|   Kandy |  16|15.5|
+---------+----+----+
only showing top 5 rows

+----------+--------+------------------------+-------------------------------+-----+-------------------------+-------------------------+-----+----+----+----+
|  District|     Sex|Sat for G.C.E (O/L) 2015|Qualified for G.C.E. (A/L) 2015|2015%|Sat for G.C.E (O/L) 20195|Sat for G.C.E (O/L) 20196|2019%| _c8| _c9|_c10|
+----------+--------+------------------------+-------------------------------+-----+-------------------------+-------------------------+-----+----+----+----+
|Sri Lanka |Both sex|                 290,929|                        195,358| 67.2|                  334,474|                  236,093| 70.6|NULL|NULL|NULL|
|      NULL|    Male|                 144,190|                         83,791| 58.1|                  166,921|                  104,862| 62.8|NULL|NULL|NULL|
|      NULL|  Female|                 146,739|                        111,567| 76.0|                  167,553|                  131,231| 78.3|NULL|NULL|NULL|
|   Colombo|Both sex|                  32,252|                         23,980| 74.4|                   36,170|                   27,692| 76.6|NULL|NULL|NULL|
|      NULL|    Male|                  16,717|                         11,334| 67.8|                   18,319|                   13,190| 72.0|NULL|NULL|NULL|
+----------+--------+------------------------+-------------------------------+-----+-------------------------+-------------------------+-----+----+----+----+
only showing top 5 rows

+---------+--------+------------------------+-------------------------------------+-----+------------------------+-------------------------------------+-----+
| District|  Gender|Sat for G.C.E (A/L) 2015|Eligible for university entrance 2015|2015%|Sat for G.C.E (A/L) 2020|Eligible for university entrance 2020|2020%|
+---------+--------+------------------------+-------------------------------------+-----+------------------------+-------------------------------------+-----+
|Sri Lanka|Both sex|                 210,340|                              131,137| 62.4|                 277,625|                              178,337| 64.2|
|     NULL|    Male|                  88,702|                               46,689| 52.6|                 117,651|                               63,768| 54.2|
|     NULL|  Female|                 121,638|                               84,448| 69.4|                 159,974|                              114,569| 71.6|
|  Colombo|Both sex|                  25,913|                               16,502| 63.7|                  32,151|                               21,297| 66.2|
|     NULL|    Male|                  12,412|                                7,099| 57.2|                  15,337|                                9,220| 60.1|
+---------+--------+------------------------+-------------------------------------+-----+------------------------+-------------------------------------+-----+
only showing top 5 rows

In [77]:
df4 = spark.read.csv('Table14Performanceofschoolcandidates1st_attemptofGCE-OL-examination_bydistrict-sexandyear.csv', header=True, inferSchema=True)
df5 = spark.read.csv('Table15PerformanceofallcandidatesofGCE-AL-examination_bydistrict-sexandyear.csv', header=True, inferSchema=True)

In [78]:
df1.show(5)
df1.columns

+-------------------+-------+-------+-------+-------+-------+-------+-------+-------+-------+--------+------------+------------------+---------+----------+-----------------+---------+
|Province / District|Grade 1|Grade 2|Grade 3|Grade 4|Grade 5|Grade 6|Grade 7|Grade 8|Grade 9|Grade 10|Grade 11-1st|Grade 11 repeaters|Grade 12 | Grade 13 |Special education|    Total|
+-------------------+-------+-------+-------+-------+-------+-------+-------+-------+-------+--------+------------+------------------+---------+----------+-----------------+---------+
|          Sri Lanka|319,405|333,128|329,172|333,714|325,228|331,910|345,307|344,391|335,829| 321,885|     305,566|             9,534|  218,191|   202,923|            7,502|4,063,685|
|   Western province| 68,512| 71,603| 71,457| 73,126| 71,412| 75,830| 80,316| 79,101| 78,238|  76,800|      74,258|               557|   54,323|    51,149|            1,195|  927,877|
|            Colombo| 24,687| 25,994| 25,909| 26,786| 26,496| 29,775| 31,491| 30,949| 30,785|  30,357|      29,753|               131|   23,250|    21,724|              340|  358,427|
|            Gampaha| 26,351| 27,392| 27,587| 28,112| 27,292| 28,203| 29,766| 29,287| 28,786|  28,388|      27,606|                50|   19,202|    18,135|              512|  346,669|
|           Kalutara| 17,474| 18,217| 17,961| 18,228| 17,624| 17,852| 19,059| 18,865| 18,667|  18,055|      16,899|               376|   11,871|    11,290|              343|  222,781|
+-------------------+-------+-------+-------+-------+-------+-------+-------+-------+-------+--------+------------+------------------+---------+----------+-----------------+---------+
only showing top 5 rows

['Province / District',
 'Grade 1',
 'Grade 2',
 'Grade 3',
 'Grade 4',
 'Grade 5',
 'Grade 6',
 'Grade 7',
 'Grade 8',
 'Grade 9',
 'Grade 10',
 'Grade 11-1st',
 'Grade 11 repeaters',
 'Grade 12 ',
 ' Grade 13 ',
 'Special education',
 'Total']

In [79]:
from pyspark.sql.functions import col, trim, lower

df1 = df1.withColumnRenamed("Province / District", "District")
df1 = df1.withColumn("District", trim(lower(col("District"))))
df1 = df1.filter(col("District") != "sri lanka")
df1 = df1.filter(~col("District").contains("province"))

df1.select("District").show()
df1.show(5)

+------------+
|    District|
+------------+
|     colombo|
|     gampaha|
|    kalutara|
|       kandy|
|      matale|
|nuwara eliya|
|       galle|
|      matara|
|  hambantota|
|      jaffna|
|      mannar|
|    vavuniya|
|   mullativu|
|killinochchi|
|  batticaloa|
|      ampara|
| trincomalee|
|  kurunegala|
|    puttalam|
|anuradhapura|
+------------+
only showing top 20 rows

+--------+-------+-------+-------+-------+-------+-------+-------+-------+-------+--------+------------+------------------+---------+----------+-----------------+-------+
|District|Grade 1|Grade 2|Grade 3|Grade 4|Grade 5|Grade 6|Grade 7|Grade 8|Grade 9|Grade 10|Grade 11-1st|Grade 11 repeaters|Grade 12 | Grade 13 |Special education|  Total|
+--------+-------+-------+-------+-------+-------+-------+-------+-------+-------+--------+------------+------------------+---------+----------+-----------------+-------+
| colombo| 24,687| 25,994| 25,909| 26,786| 26,496| 29,775| 31,491| 30,949| 30,785|  30,357|      29,753|               131|   23,250|    21,724|              340|358,427|
| gampaha| 26,351| 27,392| 27,587| 28,112| 27,292| 28,203| 29,766| 29,287| 28,786|  28,388|      27,606|                50|   19,202|    18,135|              512|346,669|
|kalutara| 17,474| 18,217| 17,961| 18,228| 17,624| 17,852| 19,059| 18,865| 18,667|  18,055|      16,899|               376|   11,871|    11,290|              343|222,781|
|   kandy| 21,730| 22,991| 21,844| 21,822| 21,767| 22,131| 22,917| 22,654| 22,066|  21,552|      21,385|               270|   16,175|    15,191|              442|274,937|
|  matale|  8,557|  8,739|  9,002|  8,734|  8,326|  8,264|  8,624|  8,313|  8,036|   7,757|       7,839|               103|    5,540|     4,968|              181|102,983|
+--------+-------+-------+-------+-------+-------+-------+-------+-------+-------+--------+------------+------------------+---------+----------+-----------------+-------+
only showing top 5 rows

In [80]:
from pyspark.sql.functions import col, trim, lower
df2.show(5)
df2.columns

df2 = df2.withColumnRenamed("District", "District") \
         .withColumnRenamed("Both sexes", "Total_Teachers") \
         .withColumnRenamed("Male", "Male_Teachers") \
         .withColumnRenamed("Male %", "Male_Percentage") \
         .withColumnRenamed("Female", "Female_Teachers") \
         .withColumnRenamed("Female %", "Female_Percentage")

df2 = df2.withColumn("District", trim(lower(col("District"))))
df2 = df2.drop("_c2")
df2 = df2.filter(col("District") != "sri lanka")

df2.show(10)

+---------+----------+---+------+------+-------+--------+
| District|Both sexes|_c2|  Male|Male %| Female|Female %|
+---------+----------+---+------+------+-------+--------+
|Sri Lanka|   265,194|100|66,692|  25.1|198,502|    74.9|
|  Colombo|    22,206|100| 3,772|  17.0| 18,434|    83.0|
|  Gampaha|    19,151|100| 3,471|  18.1| 15,680|    81.9|
| Kalutara|    12,605|100| 2,186|  17.3| 10,419|    82.7|
|   Kandy |    19,320|100| 4,053|  21.0| 15,267|    79.0|
+---------+----------+---+------+------+-------+--------+
only showing top 5 rows

+------------+--------------+-------------+---------------+---------------+-----------------+
|    District|Total_Teachers|Male_Teachers|Male_Percentage|Female_Teachers|Female_Percentage|
+------------+--------------+-------------+---------------+---------------+-----------------+
|     colombo|        22,206|        3,772|           17.0|         18,434|             83.0|
|     gampaha|        19,151|        3,471|           18.1|         15,680|             81.9|
|    kalutara|        12,605|        2,186|           17.3|         10,419|             82.7|
|       kandy|        19,320|        4,053|           21.0|         15,267|             79.0|
|      matale|         6,943|        1,653|           23.8|          5,290|             76.2|
|nuwara eliya|        10,798|        3,182|           29.5|          7,616|             70.5|
|       galle|        13,064|        2,990|           22.9|         10,074|             77.1|
|      matara|        11,426|        2,642|           23.1|          8,784|             76.9|
|  hambantota|         8,907|        2,329|           26.1|          6,578|             73.9|
|      jaffna|         9,819|        2,998|           30.5|          6,821|             69.5|
+------------+--------------+-------------+---------------+---------------+-----------------+
only showing top 10 rows

In [81]:
from pyspark.sql.functions import trim, col, lower

df3.show(5)
df3.columns
df3 = df3.withColumnRenamed("_c0", "District") \
         .withColumnRenamed("2015", "STR_2015") \
         .withColumnRenamed("2020", "STR_2020")

df3 = df3.withColumn("District", trim(lower(col("District"))))
df3 = df3.filter(col("District") != "sri lanka")
df3.show(5)

+---------+----+----+
|      _c0|2015|2020|
+---------+----+----+
|Sri Lanka|  18|16.3|
|  Colombo|  22|20.0|
|  Gampaha|  22|20.8|
| Kalutara|  20|19.3|
|   Kandy |  16|15.5|
+---------+----+----+
only showing top 5 rows

+--------+--------+--------+
|District|STR_2015|STR_2020|
+--------+--------+--------+
| colombo|      22|    20.0|
| gampaha|      22|    20.8|
|kalutara|      20|    19.3|
|   kandy|      16|    15.5|
|  matale|      15|    15.5|
+--------+--------+--------+
only showing top 5 rows

In [82]:
df4.show(5)
df4.columns

df4 = df4.withColumnRenamed("District", "District") \
         .withColumnRenamed("Sex", "Sex") \
         .withColumnRenamed("Sat for G.C.E (O/L) 2015", "OL_Sat_2015") \
         .withColumnRenamed("Qualified for G.C.E. (A/L) 2015", "OL_Passed_2015") \
         .withColumnRenamed("2015%", "OL_Percent_2015") \
         .withColumnRenamed("Sat for G.C.E (O/L) 20195", "OL_Sat_2019") \
         .withColumnRenamed("Sat for G.C.E (O/L) 20196", "OL_Passed_2019") \
         .withColumnRenamed("2019%", "OL_Percent_2019")
df4 = df4.filter(~(col("District").contains("sri lanka")))
df4 = df4.filter(col("District").isNotNull())
df4 = df4.drop("_c8")
df4 = df4.drop("_c9")
df4 = df4.drop("_c10")
df4.show(5)

+----------+--------+------------------------+-------------------------------+-----+-------------------------+-------------------------+-----+----+----+----+
|  District|     Sex|Sat for G.C.E (O/L) 2015|Qualified for G.C.E. (A/L) 2015|2015%|Sat for G.C.E (O/L) 20195|Sat for G.C.E (O/L) 20196|2019%| _c8| _c9|_c10|
+----------+--------+------------------------+-------------------------------+-----+-------------------------+-------------------------+-----+----+----+----+
|Sri Lanka |Both sex|                 290,929|                        195,358| 67.2|                  334,474|                  236,093| 70.6|NULL|NULL|NULL|
|      NULL|    Male|                 144,190|                         83,791| 58.1|                  166,921|                  104,862| 62.8|NULL|NULL|NULL|
|      NULL|  Female|                 146,739|                        111,567| 76.0|                  167,553|                  131,231| 78.3|NULL|NULL|NULL|
|   Colombo|Both sex|                  32,252|                         23,980| 74.4|                   36,170|                   27,692| 76.6|NULL|NULL|NULL|
|      NULL|    Male|                  16,717|                         11,334| 67.8|                   18,319|                   13,190| 72.0|NULL|NULL|NULL|
+----------+--------+------------------------+-------------------------------+-----+-------------------------+-------------------------+-----+----+----+----+
only showing top 5 rows

+----------+--------+-----------+--------------+---------------+-----------+--------------+---------------+
|  District|     Sex|OL_Sat_2015|OL_Passed_2015|OL_Percent_2015|OL_Sat_2019|OL_Passed_2019|OL_Percent_2019|
+----------+--------+-----------+--------------+---------------+-----------+--------------+---------------+
|Sri Lanka |Both sex|    290,929|       195,358|           67.2|    334,474|       236,093|           70.6|
|   Colombo|Both sex|     32,252|        23,980|           74.4|     36,170|        27,692|           76.6|
|   Gampaha|Both sex|     27,945|        19,043|           68.1|     31,915|        23,125|           72.5|
|  Kalutara|Both sex|     16,067|        11,000|           68.5|     18,599|        13,182|           70.9|
|     Kandy|Both sex|     20,355|        13,739|           67.5|     24,084|        17,166|           71.3|
+----------+--------+-----------+--------------+---------------+-----------+--------------+---------------+
only showing top 5 rows

In [83]:
df4.show()

+------------+--------+-----------+--------------+---------------+-----------+--------------+---------------+
|    District|     Sex|OL_Sat_2015|OL_Passed_2015|OL_Percent_2015|OL_Sat_2019|OL_Passed_2019|OL_Percent_2019|
+------------+--------+-----------+--------------+---------------+-----------+--------------+---------------+
|  Sri Lanka |Both sex|    290,929|       195,358|           67.2|    334,474|       236,093|           70.6|
|     Colombo|Both sex|     32,252|        23,980|           74.4|     36,170|        27,692|           76.6|
|     Gampaha|Both sex|     27,945|        19,043|           68.1|     31,915|        23,125|           72.5|
|    Kalutara|Both sex|     16,067|        11,000|           68.5|     18,599|        13,182|           70.9|
|       Kandy|Both sex|     20,355|        13,739|           67.5|     24,084|        17,166|           71.3|
|      Matale|Both sex|      6,950|         4,376|           63.0|      8,239|         5,640|           68.5|
|Nuwara Eliya|Both sex|     10,252|         6,019|           58.7|     12,448|         7,761|           62.3|
|       Galle|Both sex|     15,701|        11,333|           72.2|     16,859|        12,592|           74.7|
|      Matara|Both sex|     12,000|         8,858|           73.8|     12,886|         9,939|           77.1|
|  Hambantota|Both sex|      8,885|         6,544|           73.7|     10,029|         7,908|           78.9|
|      Jaffna|Both sex|     10,694|         6,308|           59.0|      9,278|         6,049|           65.2|
|      Mannar|Both Sex|      1,745|         1,168|           66.9|      1,881|         1,263|           67.1|
|    Vavuniya|Both Sex|      2,724|         1,683|           61.8|      2,732|         1,762|           64.5|
|   Mullativu|Both Sex|      1,757|           875|           49.8|      1,944|         1,131|           58.2|
|Killinochchi|Both Sex|      2,480|         1,079|           43.5|      2,576|         1,415|           54.9|
|  Batticaloa|Both Sex|      7,499|         4,686|           62.5|     10,276|         6,343|           61.7|
|      Ampara|Both Sex|      9,244|         6,122|           66.2|     12,816|         8,320|           64.9|
| Trincomalee|Both Sex|      6,064|         3,361|           55.4|      8,541|         4,431|           51.9|
|  Kurunegala|Both Sex|     23,081|        16,190|           70.1|     26,074|        19,763|           75.8|
|    Puttalam|Both Sex|     10,392|         6,497|           62.5|     11,577|         7,941|           68.6|
+------------+--------+-----------+--------------+---------------+-----------+--------------+---------------+
only showing top 20 rows

In [84]:
df5.show(5)

df5 = df5.withColumnRenamed("District", "District") \
         .withColumnRenamed("Gender", "Gender") \
         .withColumnRenamed("Sat for G.C.E (A/L) 2015", "AL_Sat_2015") \
         .withColumnRenamed("Eligible for university entrance 2015", "AL_Eligible_2015") \
         .withColumnRenamed("2015%", "AL_Percent_2015") \
         .withColumnRenamed("Sat for G.C.E (A/L) 2020", "AL_Sat_2020") \
         .withColumnRenamed("Eligible for university entrance 2020", "AL_Eligible_2020") \
         .withColumnRenamed("2020%", "AL_Percent_2020")

df5 = df5.filter(~col("District").contains("Sri Lanka"))
df5 = df5.filter(col("District").isNotNull())

df5.show(5)

+---------+--------+------------------------+-------------------------------------+-----+------------------------+-------------------------------------+-----+
| District|  Gender|Sat for G.C.E (A/L) 2015|Eligible for university entrance 2015|2015%|Sat for G.C.E (A/L) 2020|Eligible for university entrance 2020|2020%|
+---------+--------+------------------------+-------------------------------------+-----+------------------------+-------------------------------------+-----+
|Sri Lanka|Both sex|                 210,340|                              131,137| 62.4|                 277,625|                              178,337| 64.2|
|     NULL|    Male|                  88,702|                               46,689| 52.6|                 117,651|                               63,768| 54.2|
|     NULL|  Female|                 121,638|                               84,448| 69.4|                 159,974|                              114,569| 71.6|
|  Colombo|Both sex|                  25,913|                               16,502| 63.7|                  32,151|                               21,297| 66.2|
|     NULL|    Male|                  12,412|                                7,099| 57.2|                  15,337|                                9,220| 60.1|
+---------+--------+------------------------+-------------------------------------+-----+------------------------+-------------------------------------+-----+
only showing top 5 rows

+--------+--------+-----------+----------------+---------------+-----------+----------------+---------------+
|District|  Gender|AL_Sat_2015|AL_Eligible_2015|AL_Percent_2015|AL_Sat_2020|AL_Eligible_2020|AL_Percent_2020|
+--------+--------+-----------+----------------+---------------+-----------+----------------+---------------+
| Colombo|Both sex|     25,913|          16,502|           63.7|     32,151|          21,297|           66.2|
| Gampaha|Both sex|     19,194|          11,994|           62.5|     25,881|          16,656|           64.4|
|Kalutara|Both sex|     11,414|           7,020|           61.5|     15,560|          10,016|           64.4|
|   Kandy|Both sex|     15,413|           9,374|           60.8|     20,795|          12,733|           61.2|
|  Matale|Both sex|      4,799|           2,948|           61.4|      6,792|           4,340|           63.9|
+--------+--------+-----------+----------------+---------------+-----------+----------------+---------------+
only showing top 5 rows

In [85]:
from pyspark.sql.functions import lower, trim

dfs = [df1, df2, df3, df4, df5]
dfs = [df.withColumn("District", trim(lower(col("District")))) for df in dfs]

df1, df2, df3, df4, df5 = dfs

merged_df = df1 \
    .join(df2, on="District", how="left") \
    .join(df3, on="District", how="left") \
    .join(df4, on="District", how="left") \
    .join(df5, on="District", how="left")

merged_df.show(truncate=False)

+------------+-------+-------+-------+-------+-------+-------+-------+-------+-------+--------+------------+------------------+---------+----------+-----------------+-------+--------------+-------------+---------------+---------------+-----------------+--------+--------+--------+-----------+--------------+---------------+-----------+--------------+---------------+--------+-----------+----------------+---------------+-----------+----------------+---------------+
|District    |Grade 1|Grade 2|Grade 3|Grade 4|Grade 5|Grade 6|Grade 7|Grade 8|Grade 9|Grade 10|Grade 11-1st|Grade 11 repeaters|Grade 12 | Grade 13 |Special education|Total  |Total_Teachers|Male_Teachers|Male_Percentage|Female_Teachers|Female_Percentage|STR_2015|STR_2020|Sex     |OL_Sat_2015|OL_Passed_2015|OL_Percent_2015|OL_Sat_2019|OL_Passed_2019|OL_Percent_2019|Gender  |AL_Sat_2015|AL_Eligible_2015|AL_Percent_2015|AL_Sat_2020|AL_Eligible_2020|AL_Percent_2020|
+------------+-------+-------+-------+-------+-------+-------+-------+-------+-------+--------+------------+------------------+---------+----------+-----------------+-------+--------------+-------------+---------------+---------------+-----------------+--------+--------+--------+-----------+--------------+---------------+-----------+--------------+---------------+--------+-----------+----------------+---------------+-----------+----------------+---------------+
|colombo     |24,687 |25,994 |25,909 |26,786 |26,496 |29,775 |31,491 |30,949 |30,785 |30,357  |29,753      |131               |23,250   |21,724    |340              |358,427|22,206        |3,772        |17.0           |18,434         |83.0             |22      |20.0    |Both sex|32,252     |23,980        |74.4           |36,170     |27,692        |76.6           |Both sex|25,913     |16,502          |63.7           |32,151     |21,297          |66.2           |
|gampaha     |26,351 |27,392 |27,587 |28,112 |27,292 |28,203 |29,766 |29,287 |28,786 |28,388  |27,606      |50                |19,202   |18,135    |512              |346,669|19,151        |3,471        |18.1           |15,680         |81.9             |22      |20.8    |Both sex|27,945     |19,043        |68.1           |31,915     |23,125        |72.5           |Both sex|19,194     |11,994          |62.5           |25,881     |16,656          |64.4           |
|kalutara    |17,474 |18,217 |17,961 |18,228 |17,624 |17,852 |19,059 |18,865 |18,667 |18,055  |16,899      |376               |11,871   |11,290    |343              |222,781|12,605        |2,186        |17.3           |10,419         |82.7             |20      |19.3    |Both sex|16,067     |11,000        |68.5           |18,599     |13,182        |70.9           |Both sex|11,414     |7,020           |61.5           |15,560     |10,016          |64.4           |
|kandy       |21,730 |22,991 |21,844 |21,822 |21,767 |22,131 |22,917 |22,654 |22,066 |21,552  |21,385      |270               |16,175   |15,191    |442              |274,937|19,320        |4,053        |21.0           |15,267         |79.0             |16      |15.5    |Both sex|20,355     |13,739        |67.5           |24,084     |17,166        |71.3           |Both sex|15,413     |9,374           |60.8           |20,795     |12,733          |61.2           |
|matale      |8,557  |8,739  |9,002  |8,734  |8,326  |8,264  |8,624  |8,313  |8,036  |7,757   |7,839       |103               |5,540    |4,968     |181              |102,983|6,943         |1,653        |23.8           |5,290          |76.2             |15      |15.5    |Both sex|6,950      |4,376         |63.0           |8,239      |5,640         |68.5           |Both sex|4,799      |2,948           |61.4           |6,792      |4,340           |63.9           |
|nuwara eliya|12,520 |13,844 |13,722 |13,287 |12,904 |13,263 |13,584 |13,868 |13,807 |12,764  |11,918      |278               |7,365    |6,672     |257              |160,053|10,798        |3,182        |29.5           |7,616          |70.5             |16      |15.1    |Both sex|10,252     |6,019         |58.7           |12,448     |7,761         |62.3           |Both sex|5,834      |3,645           |62.5           |8,331      |5,156           |61.9           |
|galle       |16,610 |17,081 |17,132 |17,349 |16,659 |17,599 |18,689 |18,433 |18,535 |17,269  |16,870      |175               |12,080   |11,329    |329              |216,139|13,064        |2,990        |22.9           |10,074         |77.1             |20      |17.4    |Both sex|15,701     |11,333        |72.2           |16,859     |12,592        |74.7           |Both sex|12,731     |7,733           |60.7           |15,789     |10,488          |66.4           |
|matara      |12,593 |13,020 |13,364 |13,281 |12,890 |13,028 |13,827 |13,866 |13,645 |13,059  |12,039      |345               |9,232    |8,579     |343              |163,111|11,426        |2,642        |23.1           |8,784          |76.9             |16      |15.5    |Both sex|12,000     |8,858         |73.8           |12,886     |9,939         |77.1           |Both sex|9,992      |6,398           |64.0           |12,647     |8,349           |66.0           |
|hambantota  |11,817 |11,745 |11,764 |11,639 |10,986 |11,109 |11,549 |11,076 |10,941 |10,504  |10,021      |381               |7,413    |6,959     |243              |138,147|8,907         |2,329        |26.1           |6,578          |73.9             |17      |16.2    |Both sex|8,885      |6,544         |73.7           |10,029     |7,908         |78.9           |Both sex|7,222      |4,537           |62.8           |9,496      |5,780           |60.9           |
|jaffna      |7,689  |8,576  |7,928  |8,375  |7,952  |7,681  |8,020  |8,641  |9,099  |8,876   |8,522       |1,111             |5,403    |5,230     |309              |103,412|9,819         |2,998        |30.5           |6,821          |69.5             |15      |11.0    |Both sex|10,694     |6,308         |59.0           |9,278      |6,049         |65.2           |Both sex|7,346      |4,872           |66.3           |7,927      |5,148           |64.9           |
|mannar      |2,029  |2,153  |2,262  |2,230  |2,137  |2,121  |2,156  |2,387  |2,058  |2,078   |1,812       |360               |1,267    |1,240     |68               |26,358 |2,116         |677          |32.0           |1,439          |68.0             |14      |12.5    |Both Sex|1,745      |1,168         |66.9           |1,881      |1,263         |67.1           |Both sex|1,289      |843             |65.4           |1,570      |985             |62.7           |
|vavuniya    |2,821  |3,265  |2,957  |3,119  |3,059  |2,829  |2,956  |3,116  |2,942  |2,827   |2,656       |181               |1,609    |1,592     |114              |36,043 |3,016         |832          |27.6           |2,184          |72.4             |14      |12.1    |Both Sex|2,724      |1,683         |61.8           |2,732      |1,762         |64.5           |Both sex|1,743      |1,114           |63.9           |2,092      |1,211           |57.9           |
|mullativu   |2,038  |2,264  |2,196  |2,160  |2,444  |2,174  |2,260  |2,691  |2,367  |2,162   |1,840       |311               |1,126    |1,083     |104              |27,220 |2,136         |711          |33.3           |1,425          |66.7             |16      |12.8    |Both Sex|1,757      |875           |49.8           |1,944      |1,131         |58.2           |Both sex|1,073      |655             |61.0           |1,379      |859             |62.3           |
|killinochchi|1,797  |2,185  |2,269  |2,342  |2,587  |2,367  |2,783  |3,136  |2,574  |2,521   |2,421       |318               |1,482    |1,308     |210              |30,300 |2,099         |527          |25.1           |1,572          |74.9             |18      |14.4    |Both Sex|2,480      |1,079         |43.5           |2,576      |1,415         |54.9           |Both sex|1,233      |790             |64.1           |1,662      |1,026           |61.7           |
|batticaloa  |9,691  |10,451 |9,602  |10,239 |9,933  |10,043 |10,885 |10,943 |10,993 |10,400  |8,338       |1,036             |5,520    |5,247     |167              |123,488|7,656         |2,835        |37.0           |4,821          |63.0             |19      |16.1    |Both Sex|7,499      |4,686         |62.5           |10,276     |6,343         |61.7           |Both sex|4,657      |3,000           |64.4           |6,615      |3,968           |60.0           |
|ampara      |12,832 |13,157 |12,904 |13,412 |13,431 |13,393 |13,594 |13,853 |13,731 |12,560  |10,718      |1,061             |7,554    |7,002     |558              |159,760|10,668        |3,813        |35.7           |6,855          |64.3             |18      |15.2    |Both Sex|9,244      |6,122         |66.2           |12,816     |8,320         |64.9           |Both Sex|6,447      |3,812           |59.1           |9,495      |5,615           |59.14          |
|trincomalee |8,127  |7,969  |7,694  |8,325  |8,183  |8,248  |8,501  |8,571  |8,200  |7,123   |6,093       |582               |4,019    |3,733     |225              |95,593 |5,885         |2,490        |42.3           |3,395          |57.7             |19      |16.4    |Both Sex|6,064      |3,361         |55.4           |8,541      |4,431         |51.9           |Both sex|3,554      |2,231           |62.8           |4,911      |3,091           |62.9           |
|kurunegala  |26,840 |27,276 |27,832 |27,927 |27,350 |27,577 |28,354 |27,550 |27,113 |26,662  |25,428      |511               |19,208   |17,525    |720              |337,873|21,772        |5,382        |24.7           |16,390         |75.3             |17      |16.2    |Both Sex|23,081     |16,190        |70.1           |26,074     |19,763        |75.8           |Both sex|17,946     |10,613          |59.1           |23,369     |15,631          |66.9           |
|puttalam    |13,642 |14,124 |13,935 |14,389 |13,649 |14,201 |14,793 |14,605 |13,348 |12,572  |11,527      |330               |7,156    |6,709     |300              |165,280|9,092         |2,260        |24.9           |6,832          |75.1             |22      |18.4    |Both Sex|10,392     |6,497         |62.5           |11,577     |7,941         |68.6           |Both sex|6,086      |3,842           |63.1           |7,965      |5,398           |67.8           |
|anuradhapura|17,027 |17,923 |17,573 |17,875 |17,455 |17,539 |17,638 |17,163 |16,149 |15,284  |14,673      |316               |9,925    |9,157     |366              |206,063|12,698        |3,748        |29.5           |8,950          |70.5             |16      |16.9    |Both Sex|12,614     |8,296         |65.8           |15,530     |10,708        |69.0           |Both sex|8,455      |5,133           |60.7           |12,381     |7,777           |62.8           |
+------------+-------+-------+-------+-------+-------+-------+-------+-------+-------+--------+------------+------------------+---------+----------+-----------------+-------+--------------+-------------+---------------+---------------+-----------------+--------+--------+--------+-----------+--------------+---------------+-----------+--------------+---------------+--------+-----------+----------------+---------------+-----------+----------------+---------------+
only showing top 20 rows

In [86]:
output_path = "/content/BigDataAssignment/data/merged_dataset.csv"
merged_df.coalesce(1).write.mode("overwrite").option("header", "true").csv(output_path)

# Analyze Student Perfomance of 2020 AL Based on Subject

In [92]:
!wget -O al_data.csv https://raw.githubusercontent.com/SasikaA073/gce-al-2020-public-dataset-m/main/2020_al_data_kaggle_upload_new_old_syllabi.csv

--2025-09-20 06:51:21--  https://raw.githubusercontent.com/SasikaA073/gce-al-2020-public-dataset-m/main/2020_al_data_kaggle_upload_new_old_syllabi.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 41957453 (40M) [text/plain]
Saving to: ‘al_data.csv’

al_data.csv         100%[===================>]  40.01M   249MB/s    in 0.2s

2025-09-20 06:51:22 (249 MB/s) - ‘al_data.csv’ saved [41957453/41957453]

# Average Z-score by Stream

In [93]:
df_al = spark.read.option("header", "true").option("inferSchema", "true").csv("/content/BigDataAssignment/al_data.csv")

df_al.printSchema()
df_al.show(5)

root
 |-- index: integer (nullable = true)
 |-- stream: string (nullable = true)
 |-- Zscore: string (nullable = true)
 |-- district_rank: string (nullable = true)
 |-- island_rank: string (nullable = true)
 |-- al_year: integer (nullable = true)
 |-- sub1: string (nullable = true)
 |-- sub1_r: string (nullable = true)
 |-- sub2: string (nullable = true)
 |-- sub2_r: string (nullable = true)
 |-- sub3: string (nullable = true)
 |-- sub3_r: string (nullable = true)
 |-- cgt_r: string (nullable = true)
 |-- ge_r: string (nullable = true)
 |-- syllabus: string (nullable = true)
 |-- birth_day: string (nullable = true)
 |-- birth_month: string (nullable = true)
 |-- birth_year: string (nullable = true)
 |-- gender: string (nullable = true)

+-----+--------+------+-------------+-----------+-------+-----------------+------+-----------------+------+----------+------+-----+----+--------+---------+-----------+----------+------+
|index|  stream|Zscore|district_rank|island_rank|al_year|             sub1|sub1_r|             sub2|sub2_r|      sub3|sub3_r|cgt_r|ge_r|syllabus|birth_day|birth_month|birth_year|gender|
+-----+--------+------+-------------+-----------+-------+-----------------+------+-----------------+------+----------+------+-----+----+--------+---------+-----------+----------+------+
|    0|    ARTS|-.3550|   4336 (NEW)|64994 (NEW)|   2020|POLITICAL SCIENCE|     S|DANCING(BHARATHA)|     C|     TAMIL|     S|  056|   S|     new|       31|        May|      2001|female|
|    1|    ARTS|-.2648|   4154 (NEW)|62338 (NEW)|   2020|POLITICAL SCIENCE|     S|   CARNATIC MUSIC|     C|     TAMIL|     C|  032|   C|     new|       13|    January|      2002|female|
|    2|COMMERCE|-.4760|   6910 (NEW)|37307 (NEW)|   2020|        ECONOMICS|     S| BUSINESS STUDIES|     S|ACCOUNTING|     S|  050|   S|     new|       16|     August|      2001|female|
|    3|COMMERCE|-.1012|   5678 (NEW)|30449 (NEW)|   2020|        ECONOMICS|     C| BUSINESS STUDIES|     C|ACCOUNTING|     S|  034|   S|     new|       16|     August|      2001|female|
|    4|COMMERCE| .6014|   3269 (NEW)|17010 (NEW)|   2020|        ECONOMICS|     C| BUSINESS STUDIES|     C|ACCOUNTING|     B|  036|   S|     new|        7|     August|      2000|female|
+-----+--------+------+-------------+-----------+-------+-----------------+------+-----------------+------+----------+------+-----+----+--------+---------+-----------+----------+------+
only showing top 5 rows

In [94]:
df_al.groupBy("stream").agg({"Zscore": "avg"}).show()

+--------------------+-------------------+
|              stream|        avg(Zscore)|
+--------------------+-------------------+
|    PHYSICAL SCIENCE| 0.6380124173401914|
|                ARTS| 0.4714649261238181|
|ENGINEERING TECHN...|  0.463577932469195|
|                 NON|0.46618974452554807|
|BIOSYSTEMS TECHNO...|0.48749803395889213|
|                   -|-0.5598731735336363|
|            COMMERCE|  0.496741276926546|
|  BIOLOGICAL SCIENCE| 0.6055904726792917|
+--------------------+-------------------+

# Top/Bottom Performers

In [97]:
df_al.orderBy(col("Zscore").desc()).show(10)

+------+--------------------+------+-------------+-----------+-------+--------------------+------+--------------------+------+--------------------+------+-----+----+--------+---------+-----------+----------+------+
| index|              stream|Zscore|district_rank|island_rank|al_year|                sub1|sub1_r|                sub2|sub2_r|                sub3|sub3_r|cgt_r|ge_r|syllabus|birth_day|birth_month|birth_year|gender|
+------+--------------------+------+-------------+-----------+-------+--------------------+------+--------------------+------+--------------------+------+-----+----+--------+---------+-----------+----------+------+
| 61967|ENGINEERING TECHN...|3.5583|      1 (NEW)|    1 (NEW)|   2020|INFORMATION & COM...|     A|ENGINEERING TECHN...|     A|SCIENCE FOR TECHN...|     A|  072|   B|     new|       24|    January|      2002|  male|
|187641|ENGINEERING TECHN...|3.3808|      1 (NEW)|    2 (NEW)|   2020|INFORMATION & COM...|     A|ENGINEERING TECHN...|     A|SCIENCE FOR TECHN...|     A|  062|   C|     new|       22|       June|      2001|  male|
|  9891|  BIOLOGICAL SCIENCE|3.3182|      1 (NEW)|    1 (NEW)|   2020|             PHYSICS|     A|           CHEMISTRY|     A|             BIOLOGY|     A|  076|   A|     new|       25|    October|      2001|  male|
| 62014|ENGINEERING TECHN...|3.3059|      2 (NEW)|    3 (NEW)|   2020|INFORMATION & COM...|     A|ENGINEERING TECHN...|     A|SCIENCE FOR TECHN...|     A|  076|   C|     new|        9|      March|      2001|  male|
| 30696|ENGINEERING TECHN...|3.2199|      1 (NEW)|    4 (NEW)|   2020|INFORMATION & COM...|     A|ENGINEERING TECHN...|     A|SCIENCE FOR TECHN...|     A|  070|   A|     new|       26|      April|      2001|  male|
|  9958|  BIOLOGICAL SCIENCE|3.1195|      2 (NEW)|    2 (NEW)|   2020|             PHYSICS|     A|           CHEMISTRY|     A|             BIOLOGY|     A|  076|   A|     new|       22|   November|      2001|  male|
| 34431|ENGINEERING TECHN...|3.1037|      1 (NEW)|    5 (NEW)|   2020|INFORMATION & COM...|     A|ENGINEERING TECHN...|     A|SCIENCE FOR TECHN...|     A|  066|   B|     new|       21|   December|      2001|  male|
| 48022|ENGINEERING TECHN...|3.0800|      2 (NEW)|    6 (NEW)|   2020|INFORMATION & COM...|     A|ENGINEERING TECHN...|     A|SCIENCE FOR TECHN...|     A|  062|   F|     new|       10|       July|      2001|  male|
| 34401|ENGINEERING TECHN...|3.0778|      3 (NEW)|    7 (NEW)|   2020|INFORMATION & COM...|     A|ENGINEERING TECHN...|     A|SCIENCE FOR TECHN...|     A|  060|   C|     new|       12|   November|      2001|  male|
|267926|  BIOLOGICAL SCIENCE|3.0710|      1 (NEW)|    3 (NEW)|   2020|             PHYSICS|     A|           CHEMISTRY|     A|             BIOLOGY|     A|  080|   A|     new|       20|       June|      2001|  male|
+------+--------------------+------+-------------+-----------+-------+--------------------+------+--------------------+------+--------------------+------+-----+----+--------+---------+-----------+----------+------+
only showing top 10 rows

In [96]:
df_al.orderBy(col("Zscore").asc()).show(10)

+------+------+------+-------------+-----------+-------+--------------------+------+--------------------+------+--------------------+------+------+------+--------+---------+-----------+----------+------+
| index|stream|Zscore|district_rank|island_rank|al_year|                sub1|sub1_r|                sub2|sub2_r|                sub3|sub3_r| cgt_r|  ge_r|syllabus|birth_day|birth_month|birth_year|gender|
+------+------+------+-------------+-----------+-------+--------------------+------+--------------------+------+--------------------+------+------+------+--------+---------+-----------+----------+------+
|184504|     -|     -|            -|          -|   2020|INFORMATION & COM...|     F|BUDDHIST CIVILIZA...|     F|             SINHALA|     S|   032|     F|     new|       28|        May|      2001|  male|
|    59|     -|     -|            -|          -|   2020|           ECONOMICS|     F|    BUSINESS STUDIES|     F|          ACCOUNTING|     F|   046|     S|     new|       21|       July|      2001|female|
|184523|     -|     -|            -|          -|   2020|   POLITICAL SCIENCE|     S|BUDDHIST CIVILIZA...|     F|             SINHALA|     F|   044|     F|     new|       26|        May|      2001|  male|
|    85|     -|     -|            -|          -|   2020|   POLITICAL SCIENCE|     F|HISTORY OF SRI LA...|     S|COMMUNICATION & M...|     F|   028|     F|     new|       25|    October|      2001|female|
|184503|     -|     -|            -|          -|   2020|           ECONOMICS|     F|    BUSINESS STUDIES|     S|          ACCOUNTING|     F|   036|     F|     new|       31|    October|      2001|  male|
|    60|     -|     -|            -|          -|   2020|HISTORY OF SRI LA...|Absent|COMMUNICATION & M...|Absent|        CHRISTIANITY|Absent|Absent|Absent|     new|        2|     August|      2000|female|
|184484|     -|     -|            -|          -|   2020|BIO-RESOURCE TECH...|Absent|      ORIENTAL MUSIC|Absent|               HINDI|Absent|Absent|Absent|     new|       13|       June|      2001|female|
|    50|     -|     -|            -|          -|   2020|           ECONOMICS|Absent|   POLITICAL SCIENCE|     B|               ISLAM|     A|   046|     B|     new|        8|    October|      2001|female|
|184475|     -|     -|            -|          -|   2020|   POLITICAL SCIENCE|     F|LOGIC & SCIENTIFI...|     F|             SINHALA|     S|   036|     F|     new|       13|    October|      2001|female|
|    14|     -|     -|            -|          -|   2020|           ECONOMICS|     S|    BUSINESS STUDIES|     F|          ACCOUNTING|     F|   038|     S|     new|        3|     August|      2001|female|
+------+------+------+-------------+-----------+-------+--------------------+------+--------------------+------+--------------------+------+------+------+--------+---------+-----------+----------+------+
only showing top 10 rows

# Gender-Based Analysis

In [98]:
df_al.groupBy("gender").agg({"Zscore": "avg"}).show()
df_al.groupBy("gender").count().show()

+-----------+--------------------+
|     gender|         avg(Zscore)|
+-----------+--------------------+
|Major error| -0.3785307692307692|
|       NULL|0.031893255813953435|
|     female| 0.37292753018220215|
|       male| 0.19521364452834547|
+-----------+--------------------+

+-----------+------+
|     gender| count|
+-----------+------+
|Major error|    24|
|       NULL|  1484|
|     female|193326|
|       male|142719|
+-----------+------+

# Z-score Distribution Over AL Years

In [99]:
df_al.groupBy("al_year").agg({"Zscore": "avg"}).orderBy("al_year").show()

+-------+-------------------+
|al_year|        avg(Zscore)|
+-------+-------------------+
|   2020|0.30538889171086053|
+-------+-------------------+

# Rank-Based Insights

In [101]:
from pyspark.sql.functions import regexp_extract

df_al = df_al.withColumn("district_rank_clean", regexp_extract("district_rank", r"(\d+)", 1).cast("int"))
df_al = df_al.withColumn("island_rank_clean", regexp_extract("island_rank", r"(\d+)", 1).cast("int"))
df_al.stat.corr("district_rank_clean", "island_rank_clean")

0.8101931007111215

# Subject Popularity & Performance

In [102]:
from pyspark.sql.functions import explode, array

df_subjects = df_al.select(explode(array("sub1", "sub2", "sub3")).alias("subject"))
df_subjects.groupBy("subject").count().orderBy("count", ascending=False).show()

+--------------------+-----+
|             subject|count|
+--------------------+-----+
|           CHEMISTRY|89933|
|             PHYSICS|88767|
|             SINHALA|77177|
|           ECONOMICS|70023|
|          ACCOUNTING|65002|
|    BUSINESS STUDIES|63407|
|           GEOGRAPHY|61243|
|   POLITICAL SCIENCE|56525|
|             BIOLOGY|51018|
|COMBINED MATHEMATICS|43846|
|INFORMATION & COM...|40584|
|SCIENCE FOR TECHN...|37890|
|COMMUNICATION & M...|34133|
|BUDDHIST CIVILIZA...|31988|
|AGRICULTURAL SCIENCE|24579|
|ENGINEERING TECHN...|24434|
|               TAMIL|22295|
|HISTORY OF SRI LA...|15805|
|BIO SYSTEMS TECHN...|13568|
|LOGIC & SCIENTIFI...|10853|
+--------------------+-----+
only showing top 20 rows

In [103]:
df_subject_grades = df_al.select("sub1", "sub1_r").union(
                    df_al.select("sub2", "sub2_r")).union(
                    df_al.select("sub3", "sub3_r"))

df_subject_grades.groupBy("sub1", "sub1_r").count().show()

+--------------------+------+-----+
|                sub1|sub1_r|count|
+--------------------+------+-----+
|             SINHALA|     C|20886|
|AGRICULTURAL SCIENCE|     F| 6015|
|           CHEMISTRY|     A| 5746|
|             PHYSICS|     F|24992|
|            BUDDHISM|     S|  459|
|INFORMATION & COM...|Absent| 4482|
|             SINHALA|     S|13964|
|COMBINED MATHEMATICS|     C| 8082|
|AGRICULTURAL SCIENCE|     A|  316|
| DANCING(INDIGENOUS)|     S| 1076|
|                 ART|     C| 2370|
|         MATHEMATICS|     C|   97|
|COMBINED MATHEMATICS|     B| 4235|
|HISTORY OF SRI LA...|     F|   55|
|        CHRISTIANITY|     C|  790|
|      ORIENTAL MUSIC|     F|  182|
|    CIVIL TECHNOLOGY|     S|   36|
|       WESTERN MUSIC|     S|    6|
|           ECONOMICS|Absent| 8060|
|                 ART|     A|  475|
+--------------------+------+-----+
only showing top 20 rows

# Get best and worst performing subjects

In [106]:
from pyspark.sql.functions import col, when, array, explode, struct


df_subjects = df_al.select(explode(array(
    struct(col("sub1").alias("subject"), col("sub1_r").alias("grade")),
    struct(col("sub2").alias("subject"), col("sub2_r").alias("grade")),
    struct(col("sub3").alias("subject"), col("sub3_r").alias("grade"))
)).alias("sub_grade"))


df_subjects = df_subjects.select("sub_grade.subject", "sub_grade.grade")

df_subjects = df_subjects.withColumn("grade_score", when(col("grade") == "A", 5)
                                     .when(col("grade") == "B", 4)
                                     .when(col("grade") == "C", 3)
                                     .when(col("grade") == "S", 2)
                                     .when(col("grade") == "F", 0)
                                     .otherwise(None))

df_avg_scores = df_subjects.groupBy("subject")\
    .avg("grade_score")\
    .withColumnRenamed("avg(grade_score)", "avg_score")\
    .orderBy("avg_score", ascending=False)

df_avg_scores.show(truncate=False)

print("Best Performing Subject:")
df_avg_scores.orderBy("avg_score", ascending=False).limit(1).show()

print("Worst Performing Subject:")
df_avg_scores.orderBy("avg_score", ascending=True).limit(1).show()

+---------------------------+------------------+
|subject                    |avg_score         |
+---------------------------+------------------+
|DRAMA AND THEATRE (ENGLISH)|5.0               |
|WESTERN MUSIC              |3.8518518518518516|
|DANCING(BHARATHA)          |3.6684420772303596|
|ORIENTAL MUSIC             |3.457043343653251 |
|CHINESE                    |3.446280991735537 |
|HISTORY OF INDIA           |3.3419540229885056|
|ARABIC                     |3.273770491803279 |
|DANCING(INDIGENOUS)        |3.2274793736319247|
|CHRISTIANITY               |3.1695721077654517|
|CARNATIC MUSIC             |3.1455748552522746|
|ISLAM                      |3.096769905622757 |
|SINHALA                    |3.0867450344548035|
|ISLAMIC CIVILIZATION       |3.0729868031241585|
|DRAMA AND THEATRE (TAMIL)  |3.0435741864313295|
|HOME ECONOMICS             |3.0392183844777763|
|RUSSIAN                    |2.9393939393939394|
|HINDUISM                   |2.9329073482428116|
|HINDU CIVILIZATION         |2.902092380576392 |
|PALI                       |2.895979020979021 |
|GREEK & ROMAN CIVILIZATION |2.886206896551724 |
+---------------------------+------------------+
only showing top 20 rows

Best Performing Subject:
+--------------------+---------+
|             subject|avg_score|
+--------------------+---------+
|DRAMA AND THEATRE...|      5.0|
+--------------------+---------+

Worst Performing Subject:
+------------------+---------+
|           subject|avg_score|
+------------------+---------+
|HIGHER MATHEMATICS|     NULL|
+------------------+---------+