<a href="https://colab.research.google.com/github/piumixit/BigDataAssignment/blob/main/SLEdu.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!git clone https://github.com/piumixit/BigDataAssignment
%cd BigDataAssignment

Cloning into 'BigDataAssignment'...
remote: Enumerating objects: 64, done.
remote: Counting objects: 100% (64/64), done.
remote: Compressing objects: 100% (59/59), done.
remote: Total 64 (delta 26), reused 0 (delta 0), pack-reused 0 (from 0)
Receiving objects: 100% (64/64), 213.53 KiB | 8.90 MiB/s, done.
Resolving deltas: 100% (26/26), done.
/content/BigDataAssignment

In [36]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("StudentPerformanceAnalysis").getOrCreate()

!wget https://github.com/piumixit/BigDataAssignment/raw/main/data/Table01Studentsofgovernmentschoolenrollment_byprovincedistrictandgrade2020.csv -O Table01Studentsofgovernmentschoolenrollment_byprovincedistrictandgrade2020.csv
!wget https://github.com/piumixit/BigDataAssignment/raw/main/data/Table07Teachersofallschools_bydistrictandsex2020.csv -O Table07Teachersofallschools_bydistrictandsex2020.csv
!wget https://github.com/piumixit/BigDataAssignment/raw/main/data/Table11StudentsteacherratiosSTRs_byprovincedistrictandyear.csv -O Table11StudentsteacherratiosSTRs_byprovincedistrictandyear.csv
!wget https://github.com/piumixit/BigDataAssignment/raw/main/data//Table14Performanceofschoolcandidates1st_attemptofGCE-OL-examination_bydistrict-sexandyear.csv -O Table14Performanceofschoolcandidates1st_attemptofGCE-OL-examination_bydistrict-sexandyear.csv
!wget https://github.com/piumixit/BigDataAssignment/raw/main/data/Table15PerformanceofallcandidatesofGCE-AL-examination_bydistrict-sexandyear.csv -O Table15PerformanceofallcandidatesofGCE-AL-examination_bydistrict-sexandyear.csv

df1 = spark.read.csv('Table01Studentsofgovernmentschoolenrollment_byprovincedistrictandgrade2020.csv', header=True, inferSchema=True)
df2 = spark.read.csv('Table07Teachersofallschools_bydistrictandsex2020.csv', header=True, inferSchema=True)
df3 = spark.read.csv('Table11StudentsteacherratiosSTRs_byprovincedistrictandyear.csv', header=True, inferSchema=True)
df4 = spark.read.csv('Table14Performanceofschoolcandidates1st_attemptofGCE-OL-examination_bydistrict-sexandyear.csv', header=True, inferSchema=True)
df5 = spark.read.csv('Table15PerformanceofallcandidatesofGCE-AL-examination_bydistrict-sexandyear.csv', header=True, inferSchema=True)

df1.show(5)
df2.show(5)
df3.show(5)
df4.show(5)
df5.show(5)

--2025-09-20 03:55:11--  https://github.com/piumixit/BigDataAssignment/raw/main/data/Table01Studentsofgovernmentschoolenrollment_byprovincedistrictandgrade2020.csv
Resolving github.com (github.com)... 140.82.116.3
Connecting to github.com (github.com)|140.82.116.3|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/piumixit/BigDataAssignment/main/data/Table01Studentsofgovernmentschoolenrollment_byprovincedistrictandgrade2020.csv [following]
--2025-09-20 03:55:11--  https://raw.githubusercontent.com/piumixit/BigDataAssignment/main/data/Table01Studentsofgovernmentschoolenrollment_byprovincedistrictandgrade2020.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.111.133, 185.199.110.133, 185.199.109.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.111.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 5277 (5.2K) [text/plain]
Saving to: ‘Table01Studentsofgovernmentschoolenrollment_byprovincedistrictandgrade2020.csv’

Table01Studentsofgo 100%[===================>]   5.15K  --.-KB/s    in 0s

2025-09-20 03:55:11 (57.4 MB/s) - ‘Table01Studentsofgovernmentschoolenrollment_byprovincedistrictandgrade2020.csv’ saved [5277/5277]

--2025-09-20 03:55:11--  https://github.com/piumixit/BigDataAssignment/raw/main/data/Table07Teachersofallschools_bydistrictandsex2020.csv
Resolving github.com (github.com)... 140.82.116.4
Connecting to github.com (github.com)|140.82.116.4|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/piumixit/BigDataAssignment/main/data/Table07Teachersofallschools_bydistrictandsex2020.csv [following]
--2025-09-20 03:55:11--  https://raw.githubusercontent.com/piumixit/BigDataAssignment/main/data/Table07Teachersofallschools_bydistrictandsex2020.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.109.133, 185.199.108.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.109.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1303 (1.3K) [text/plain]
Saving to: ‘Table07Teachersofallschools_bydistrictandsex2020.csv’

Table07Teachersofal 100%[===================>]   1.27K  --.-KB/s    in 0s

2025-09-20 03:55:11 (65.9 MB/s) - ‘Table07Teachersofallschools_bydistrictandsex2020.csv’ saved [1303/1303]

--2025-09-20 03:55:11--  https://github.com/piumixit/BigDataAssignment/raw/main/data/Table11StudentsteacherratiosSTRs_byprovincedistrictandyear.csv
Resolving github.com (github.com)... 140.82.116.3
Connecting to github.com (github.com)|140.82.116.3|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/piumixit/BigDataAssignment/main/data/Table11StudentsteacherratiosSTRs_byprovincedistrictandyear.csv [following]
--2025-09-20 03:55:12--  https://raw.githubusercontent.com/piumixit/BigDataAssignment/main/data/Table11StudentsteacherratiosSTRs_byprovincedistrictandyear.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 488 [text/plain]
Saving to: ‘Table11StudentsteacherratiosSTRs_byprovincedistrictandyear.csv’

Table11Studentsteac 100%[===================>]     488  --.-KB/s    in 0s

2025-09-20 03:55:12 (24.4 MB/s) - ‘Table11StudentsteacherratiosSTRs_byprovincedistrictandyear.csv’ saved [488/488]

--2025-09-20 03:55:12--  https://github.com/piumixit/BigDataAssignment/raw/main/data//Table14Performanceofschoolcandidates1st_attemptofGCE-OL-examination_bydistrict-sexandyear.csv
Resolving github.com (github.com)... 140.82.116.3
Connecting to github.com (github.com)|140.82.116.3|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/piumixit/BigDataAssignment/main/data/Table14Performanceofschoolcandidates1st_attemptofGCE-OL-examination_bydistrict-sexandyear.csv [following]
--2025-09-20 03:55:12--  https://raw.githubusercontent.com/piumixit/BigDataAssignment/main/data/Table14Performanceofschoolcandidates1st_attemptofGCE-OL-examination_bydistrict-sexandyear.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 4581 (4.5K) [text/plain]
Saving to: ‘Table14Performanceofschoolcandidates1st_attemptofGCE-OL-examination_bydistrict-sexandyear.csv’

Table14Performanceo 100%[===================>]   4.47K  --.-KB/s    in 0s

2025-09-20 03:55:12 (52.8 MB/s) - ‘Table14Performanceofschoolcandidates1st_attemptofGCE-OL-examination_bydistrict-sexandyear.csv’ saved [4581/4581]

--2025-09-20 03:55:12--  https://github.com/piumixit/BigDataAssignment/raw/main/data/Table15PerformanceofallcandidatesofGCE-AL-examination_bydistrict-sexandyear.csv
Resolving github.com (github.com)... 140.82.116.3
Connecting to github.com (github.com)|140.82.116.3|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/piumixit/BigDataAssignment/main/data/Table15PerformanceofallcandidatesofGCE-AL-examination_bydistrict-sexandyear.csv [following]
--2025-09-20 03:55:12--  https://raw.githubusercontent.com/piumixit/BigDataAssignment/main/data/Table15PerformanceofallcandidatesofGCE-AL-examination_bydistrict-sexandyear.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 4234 (4.1K) [text/plain]
Saving to: ‘Table15PerformanceofallcandidatesofGCE-AL-examination_bydistrict-sexandyear.csv’

Table15Performanceo 100%[===================>]   4.13K  --.-KB/s    in 0s

2025-09-20 03:55:13 (46.9 MB/s) - ‘Table15PerformanceofallcandidatesofGCE-AL-examination_bydistrict-sexandyear.csv’ saved [4234/4234]

+-------------------+-------+-------+-------+-------+-------+-------+-------+-------+-------+--------+------------+------------------+---------+----------+-----------------+---------+
|Province / District|Grade 1|Grade 2|Grade 3|Grade 4|Grade 5|Grade 6|Grade 7|Grade 8|Grade 9|Grade 10|Grade 11-1st|Grade 11 repeaters|Grade 12 | Grade 13 |Special education|    Total|
+-------------------+-------+-------+-------+-------+-------+-------+-------+-------+-------+--------+------------+------------------+---------+----------+-----------------+---------+
|          Sri Lanka|319,405|333,128|329,172|333,714|325,228|331,910|345,307|344,391|335,829| 321,885|     305,566|             9,534|  218,191|   202,923|            7,502|4,063,685|
|   Western province| 68,512| 71,603| 71,457| 73,126| 71,412| 75,830| 80,316| 79,101| 78,238|  76,800|      74,258|               557|   54,323|    51,149|            1,195|  927,877|
|            Colombo| 24,687| 25,994| 25,909| 26,786| 26,496| 29,775| 31,491| 30,949| 30,785|  30,357|      29,753|               131|   23,250|    21,724|              340|  358,427|
|            Gampaha| 26,351| 27,392| 27,587| 28,112| 27,292| 28,203| 29,766| 29,287| 28,786|  28,388|      27,606|                50|   19,202|    18,135|              512|  346,669|
|           Kalutara| 17,474| 18,217| 17,961| 18,228| 17,624| 17,852| 19,059| 18,865| 18,667|  18,055|      16,899|               376|   11,871|    11,290|              343|  222,781|
+-------------------+-------+-------+-------+-------+-------+-------+-------+-------+-------+--------+------------+------------------+---------+----------+-----------------+---------+
only showing top 5 rows

+---------+----------+---+------+------+-------+--------+
| District|Both sexes|_c2|  Male|Male %| Female|Female %|
+---------+----------+---+------+------+-------+--------+
|Sri Lanka|   265,194|100|66,692|  25.1|198,502|    74.9|
|  Colombo|    22,206|100| 3,772|  17.0| 18,434|    83.0|
| Gamapaha|    19,151|100| 3,471|  18.1| 15,680|    81.9|
| Kalutara|    12,605|100| 2,186|  17.3| 10,419|    82.7|
|   Kandy |    19,320|100| 4,053|  21.0| 15,267|    79.0|
+---------+----------+---+------+------+-------+--------+
only showing top 5 rows

+---------+----+----+
|      _c0|2015|2020|
+---------+----+----+
|Sri Lanka|  18|16.3|
|  Colombo|  22|20.0|
|  Gampaha|  22|20.8|
| Kalutara|  20|19.3|
|   Kandy |  16|15.5|
+---------+----+----+
only showing top 5 rows

+----------+--------+------------------------+-------------------------------+-----+-------------------------+-------------------------+-----+----+----+----+
|  District|     Sex|Sat for G.C.E (O/L) 2015|Qualified for G.C.E. (A/L) 2015|2015%|Sat for G.C.E (O/L) 20195|Sat for G.C.E (O/L) 20196|2019%| _c8| _c9|_c10|
+----------+--------+------------------------+-------------------------------+-----+-------------------------+-------------------------+-----+----+----+----+
|Sri Lanka |Both sex|                 290,929|                        195,358| 67.2|                  334,474|                  236,093| 70.6|NULL|NULL|NULL|
|      NULL|    Male|                 144,190|                         83,791| 58.1|                  166,921|                  104,862| 62.8|NULL|NULL|NULL|
|      NULL|  Female|                 146,739|                        111,567| 76.0|                  167,553|                  131,231| 78.3|NULL|NULL|NULL|
|   Colombo|Both sex|                  32,252|                         23,980| 74.4|                   36,170|                   27,692| 76.6|NULL|NULL|NULL|
|      NULL|    Male|                  16,717|                         11,334| 67.8|                   18,319|                   13,190| 72.0|NULL|NULL|NULL|
+----------+--------+------------------------+-------------------------------+-----+-------------------------+-------------------------+-----+----+----+----+
only showing top 5 rows

+---------+--------+------------------------+-------------------------------------+-----+------------------------+-------------------------------------+-----+
| District|  Gender|Sat for G.C.E (A/L) 2015|Eligible for university entrance 2015|2015%|Sat for G.C.E (A/L) 2020|Eligible for university entrance 2020|2020%|
+---------+--------+------------------------+-------------------------------------+-----+------------------------+-------------------------------------+-----+
|Sri Lanka|Both sex|                 210,340|                              131,137| 62.4|                 277,625|                              178,337| 64.2|
|     NULL|    Male|                  88,702|                               46,689| 52.6|                 117,651|                               63,768| 54.2|
|     NULL|  Female|                 121,638|                               84,448| 69.4|                 159,974|                              114,569| 71.6|
|  Colombo|Both sex|                  25,913|                               16,502| 63.7|                  32,151|                               21,297| 66.2|
|     NULL|    Male|                  12,412|                                7,099| 57.2|                  15,337|                                9,220| 60.1|
+---------+--------+------------------------+-------------------------------------+-----+------------------------+-------------------------------------+-----+
only showing top 5 rows

In [32]:
df4 = spark.read.csv('Table14Performanceofschoolcandidates1st_attemptofGCE-OL-examination_bydistrict-sexandyear.csv', header=True, inferSchema=True)

In [37]:
df1.show(5)
df1.columns

+-------------------+-------+-------+-------+-------+-------+-------+-------+-------+-------+--------+------------+------------------+---------+----------+-----------------+---------+
|Province / District|Grade 1|Grade 2|Grade 3|Grade 4|Grade 5|Grade 6|Grade 7|Grade 8|Grade 9|Grade 10|Grade 11-1st|Grade 11 repeaters|Grade 12 | Grade 13 |Special education|    Total|
+-------------------+-------+-------+-------+-------+-------+-------+-------+-------+-------+--------+------------+------------------+---------+----------+-----------------+---------+
|          Sri Lanka|319,405|333,128|329,172|333,714|325,228|331,910|345,307|344,391|335,829| 321,885|     305,566|             9,534|  218,191|   202,923|            7,502|4,063,685|
|   Western province| 68,512| 71,603| 71,457| 73,126| 71,412| 75,830| 80,316| 79,101| 78,238|  76,800|      74,258|               557|   54,323|    51,149|            1,195|  927,877|
|            Colombo| 24,687| 25,994| 25,909| 26,786| 26,496| 29,775| 31,491| 30,949| 30,785|  30,357|      29,753|               131|   23,250|    21,724|              340|  358,427|
|            Gampaha| 26,351| 27,392| 27,587| 28,112| 27,292| 28,203| 29,766| 29,287| 28,786|  28,388|      27,606|                50|   19,202|    18,135|              512|  346,669|
|           Kalutara| 17,474| 18,217| 17,961| 18,228| 17,624| 17,852| 19,059| 18,865| 18,667|  18,055|      16,899|               376|   11,871|    11,290|              343|  222,781|
+-------------------+-------+-------+-------+-------+-------+-------+-------+-------+-------+--------+------------+------------------+---------+----------+-----------------+---------+
only showing top 5 rows

['Province / District',
 'Grade 1',
 'Grade 2',
 'Grade 3',
 'Grade 4',
 'Grade 5',
 'Grade 6',
 'Grade 7',
 'Grade 8',
 'Grade 9',
 'Grade 10',
 'Grade 11-1st',
 'Grade 11 repeaters',
 'Grade 12 ',
 ' Grade 13 ',
 'Special education',
 'Total']

In [38]:
from pyspark.sql.functions import col, trim, lower

df1 = df1.withColumnRenamed("Province / District", "District")
df1 = df1.withColumn("District", trim(lower(col("District"))))
df1 = df1.filter(col("District") != "sri lanka")
df1 = df1.filter(~col("District").contains("province"))

df1.select("District").show()
df1.show(5)

+------------+
|    District|
+------------+
|     colombo|
|     gampaha|
|    kalutara|
|       kandy|
|      matale|
|nuwara eliya|
|       galle|
|      matara|
|  hambantota|
|      jaffna|
|      mannar|
|    vavuniya|
|   mullativu|
|killinochchi|
|  batticaloa|
|      ampara|
| trincomalee|
|  kurunegala|
|    puttalam|
|anuradhapura|
+------------+
only showing top 20 rows

+--------+-------+-------+-------+-------+-------+-------+-------+-------+-------+--------+------------+------------------+---------+----------+-----------------+-------+
|District|Grade 1|Grade 2|Grade 3|Grade 4|Grade 5|Grade 6|Grade 7|Grade 8|Grade 9|Grade 10|Grade 11-1st|Grade 11 repeaters|Grade 12 | Grade 13 |Special education|  Total|
+--------+-------+-------+-------+-------+-------+-------+-------+-------+-------+--------+------------+------------------+---------+----------+-----------------+-------+
| colombo| 24,687| 25,994| 25,909| 26,786| 26,496| 29,775| 31,491| 30,949| 30,785|  30,357|      29,753|               131|   23,250|    21,724|              340|358,427|
| gampaha| 26,351| 27,392| 27,587| 28,112| 27,292| 28,203| 29,766| 29,287| 28,786|  28,388|      27,606|                50|   19,202|    18,135|              512|346,669|
|kalutara| 17,474| 18,217| 17,961| 18,228| 17,624| 17,852| 19,059| 18,865| 18,667|  18,055|      16,899|               376|   11,871|    11,290|              343|222,781|
|   kandy| 21,730| 22,991| 21,844| 21,822| 21,767| 22,131| 22,917| 22,654| 22,066|  21,552|      21,385|               270|   16,175|    15,191|              442|274,937|
|  matale|  8,557|  8,739|  9,002|  8,734|  8,326|  8,264|  8,624|  8,313|  8,036|   7,757|       7,839|               103|    5,540|     4,968|              181|102,983|
+--------+-------+-------+-------+-------+-------+-------+-------+-------+-------+--------+------------+------------------+---------+----------+-----------------+-------+
only showing top 5 rows

In [39]:
from pyspark.sql.functions import col, trim, lower
df2.show(5)
df2.columns

df2 = df2.withColumnRenamed("District", "District") \
         .withColumnRenamed("Both sexes", "Total_Teachers") \
         .withColumnRenamed("Male", "Male_Teachers") \
         .withColumnRenamed("Male %", "Male_Percentage") \
         .withColumnRenamed("Female", "Female_Teachers") \
         .withColumnRenamed("Female %", "Female_Percentage")

df2 = df2.withColumn("District", trim(lower(col("District"))))
df2 = df2.drop("_c2")
df2 = df2.filter(col("District") != "sri lanka")

df2.show(10)

+---------+----------+---+------+------+-------+--------+
| District|Both sexes|_c2|  Male|Male %| Female|Female %|
+---------+----------+---+------+------+-------+--------+
|Sri Lanka|   265,194|100|66,692|  25.1|198,502|    74.9|
|  Colombo|    22,206|100| 3,772|  17.0| 18,434|    83.0|
| Gamapaha|    19,151|100| 3,471|  18.1| 15,680|    81.9|
| Kalutara|    12,605|100| 2,186|  17.3| 10,419|    82.7|
|   Kandy |    19,320|100| 4,053|  21.0| 15,267|    79.0|
+---------+----------+---+------+------+-------+--------+
only showing top 5 rows

+------------+--------------+-------------+---------------+---------------+-----------------+
|    District|Total_Teachers|Male_Teachers|Male_Percentage|Female_Teachers|Female_Percentage|
+------------+--------------+-------------+---------------+---------------+-----------------+
|     colombo|        22,206|        3,772|           17.0|         18,434|             83.0|
|    gamapaha|        19,151|        3,471|           18.1|         15,680|             81.9|
|    kalutara|        12,605|        2,186|           17.3|         10,419|             82.7|
|       kandy|        19,320|        4,053|           21.0|         15,267|             79.0|
|      matale|         6,943|        1,653|           23.8|          5,290|             76.2|
|nuwara eliya|        10,798|        3,182|           29.5|          7,616|             70.5|
|       galle|        13,064|        2,990|           22.9|         10,074|             77.1|
|      matara|        11,426|        2,642|           23.1|          8,784|             76.9|
|  hambantota|         8,907|        2,329|           26.1|          6,578|             73.9|
|      jaffna|         9,819|        2,998|           30.5|          6,821|             69.5|
+------------+--------------+-------------+---------------+---------------+-----------------+
only showing top 10 rows

In [40]:
from pyspark.sql.functions import trim, col, lower

df3.show(5)
df3.columns
df3 = df3.withColumnRenamed("_c0", "District") \
         .withColumnRenamed("2015", "STR_2015") \
         .withColumnRenamed("2020", "STR_2020")

df3 = df3.withColumn("District", trim(lower(col("District"))))
df3 = df3.filter(col("District") != "sri lanka")
df3.show(5)

+---------+----+----+
|      _c0|2015|2020|
+---------+----+----+
|Sri Lanka|  18|16.3|
|  Colombo|  22|20.0|
|  Gampaha|  22|20.8|
| Kalutara|  20|19.3|
|   Kandy |  16|15.5|
+---------+----+----+
only showing top 5 rows

+--------+--------+--------+
|District|STR_2015|STR_2020|
+--------+--------+--------+
| colombo|      22|    20.0|
| gampaha|      22|    20.8|
|kalutara|      20|    19.3|
|   kandy|      16|    15.5|
|  matale|      15|    15.5|
+--------+--------+--------+
only showing top 5 rows

In [46]:
df4.show(5)
df4.columns

df4 = df4.withColumnRenamed("District", "District") \
         .withColumnRenamed("Sex", "Sex") \
         .withColumnRenamed("Sat for G.C.E (O/L) 2015", "Sat_2015") \
         .withColumnRenamed("Qualified for G.C.E. (A/L) 2015", "Passed_2015") \
         .withColumnRenamed("2015%", "Percent_2015") \
         .withColumnRenamed("Sat for G.C.E (O/L) 20195", "Sat_2019") \
         .withColumnRenamed("Sat for G.C.E (O/L) 20196", "Passed_2019") \
         .withColumnRenamed("2019%", "Percent_2019")
df4 = df4.filter(~(col("District").contains("sri lanka")))
df4 = df4.filter(col("District").isNotNull())
df4 = df4.drop("_c8")
df4 = df4.drop("_c9")
df4 = df4.drop("_c10")
df4.show(5)

+----------+--------+--------+-----------+------------+-------------------------+-------------------------+------------+
|  District|     Sex|Sat_2015|Passed_2015|Percent_2015|Sat for G.C.E (O/L) 20195|Sat for G.C.E (O/L) 20196|Percent_2019|
+----------+--------+--------+-----------+------------+-------------------------+-------------------------+------------+
|Sri Lanka |Both sex| 290,929|    195,358|        67.2|                  334,474|                  236,093|        70.6|
|   Colombo|Both sex|  32,252|     23,980|        74.4|                   36,170|                   27,692|        76.6|
|   Gampaha|Both sex|  27,945|     19,043|        68.1|                   31,915|                   23,125|        72.5|
|  Kalutara|Both sex|  16,067|     11,000|        68.5|                   18,599|                   13,182|        70.9|
|     Kandy|Both sex|  20,355|     13,739|        67.5|                   24,084|                   17,166|        71.3|
+----------+--------+--------+-----------+------------+-------------------------+-------------------------+------------+
only showing top 5 rows

+----------+--------+--------+-----------+------------+--------+-----------+------------+
|  District|     Sex|Sat_2015|Passed_2015|Percent_2015|Sat_2019|Passed_2019|Percent_2019|
+----------+--------+--------+-----------+------------+--------+-----------+------------+
|Sri Lanka |Both sex| 290,929|    195,358|        67.2| 334,474|    236,093|        70.6|
|   Colombo|Both sex|  32,252|     23,980|        74.4|  36,170|     27,692|        76.6|
|   Gampaha|Both sex|  27,945|     19,043|        68.1|  31,915|     23,125|        72.5|
|  Kalutara|Both sex|  16,067|     11,000|        68.5|  18,599|     13,182|        70.9|
|     Kandy|Both sex|  20,355|     13,739|        67.5|  24,084|     17,166|        71.3|
+----------+--------+--------+-----------+------------+--------+-----------+------------+
only showing top 5 rows

In [42]:
df4.show()

+------------+--------+--------+-----------+------------+-------------------------+-------------------------+------------+
|    District|     Sex|Sat_2015|Passed_2015|Percent_2015|Sat for G.C.E (O/L) 20195|Sat for G.C.E (O/L) 20196|Percent_2019|
+------------+--------+--------+-----------+------------+-------------------------+-------------------------+------------+
|  Sri Lanka |Both sex| 290,929|    195,358|        67.2|                  334,474|                  236,093|        70.6|
|     Colombo|Both sex|  32,252|     23,980|        74.4|                   36,170|                   27,692|        76.6|
|     Gampaha|Both sex|  27,945|     19,043|        68.1|                   31,915|                   23,125|        72.5|
|    Kalutara|Both sex|  16,067|     11,000|        68.5|                   18,599|                   13,182|        70.9|
|       Kandy|Both sex|  20,355|     13,739|        67.5|                   24,084|                   17,166|        71.3|
|      Matale|Both sex|   6,950|      4,376|        63.0|                    8,239|                    5,640|        68.5|
|Nuwara Eliya|Both sex|  10,252|      6,019|        58.7|                   12,448|                    7,761|        62.3|
|       Galle|Both sex|  15,701|     11,333|        72.2|                   16,859|                   12,592|        74.7|
|      Matara|Both sex|  12,000|      8,858|        73.8|                   12,886|                    9,939|        77.1|
|  Hambantota|Both sex|   8,885|      6,544|        73.7|                   10,029|                    7,908|        78.9|
|      Jaffna|Both sex|  10,694|      6,308|        59.0|                    9,278|                    6,049|        65.2|
|      Mannar|Both Sex|   1,745|      1,168|        66.9|                    1,881|                    1,263|        67.1|
|    Vavuniya|Both Sex|   2,724|      1,683|        61.8|                    2,732|                    1,762|        64.5|
|   Mullativu|Both Sex|   1,757|        875|        49.8|                    1,944|                    1,131|        58.2|
|Killinochchi|Both Sex|   2,480|      1,079|        43.5|                    2,576|                    1,415|        54.9|
|  Batticaloa|Both Sex|   7,499|      4,686|        62.5|                   10,276|                    6,343|        61.7|
|      Ampara|Both Sex|   9,244|      6,122|        66.2|                   12,816|                    8,320|        64.9|
| Trincomalee|Both Sex|   6,064|      3,361|        55.4|                    8,541|                    4,431|        51.9|
|  Kurunegala|Both Sex|  23,081|     16,190|        70.1|                   26,074|                   19,763|        75.8|
|    Puttalam|Both Sex|  10,392|      6,497|        62.5|                   11,577|                    7,941|        68.6|
+------------+--------+--------+-----------+------------+-------------------------+-------------------------+------------+
only showing top 20 rows

In [44]:
df5.show(5)

df5 = df5.withColumnRenamed("District", "District") \
         .withColumnRenamed("Gender", "Gender") \
         .withColumnRenamed("Sat for G.C.E (A/L) 2015", "Sat_2015") \
         .withColumnRenamed("Eligible for university entrance 2015", "Eligible_2015") \
         .withColumnRenamed("2015%", "Percent_2015") \
         .withColumnRenamed("Sat for G.C.E (A/L) 2020", "Sat_2020") \
         .withColumnRenamed("Eligible for university entrance 2020", "Eligible_2020") \
         .withColumnRenamed("2020%", "Percent_2020")

df5 = df5.filter(~col("District").contains("Sri Lanka"))
df5 = df5.filter(col("District").isNotNull())

df5.show(5)

+---------+--------+------------------------+-------------------------------------+-----+------------------------+-------------------------------------+-----+
| District|  Gender|Sat for G.C.E (A/L) 2015|Eligible for university entrance 2015|2015%|Sat for G.C.E (A/L) 2020|Eligible for university entrance 2020|2020%|
+---------+--------+------------------------+-------------------------------------+-----+------------------------+-------------------------------------+-----+
|Sri Lanka|Both sex|                 210,340|                              131,137| 62.4|                 277,625|                              178,337| 64.2|
|     NULL|    Male|                  88,702|                               46,689| 52.6|                 117,651|                               63,768| 54.2|
|     NULL|  Female|                 121,638|                               84,448| 69.4|                 159,974|                              114,569| 71.6|
|  Colombo|Both sex|                  25,913|                               16,502| 63.7|                  32,151|                               21,297| 66.2|
|     NULL|    Male|                  12,412|                                7,099| 57.2|                  15,337|                                9,220| 60.1|
+---------+--------+------------------------+-------------------------------------+-----+------------------------+-------------------------------------+-----+
only showing top 5 rows

+--------+--------+--------+-------------+------------+--------+-------------+------------+
|District|  Gender|Sat_2015|Eligible_2015|Percent_2015|Sat_2020|Eligible_2020|Percent_2020|
+--------+--------+--------+-------------+------------+--------+-------------+------------+
| Colombo|Both sex|  25,913|       16,502|        63.7|  32,151|       21,297|        66.2|
| Gampaha|Both sex|  19,194|       11,994|        62.5|  25,881|       16,656|        64.4|
|Kalutara|Both sex|  11,414|        7,020|        61.5|  15,560|       10,016|        64.4|
|   Kandy|Both sex|  15,413|        9,374|        60.8|  20,795|       12,733|        61.2|
|  Matale|Both sex|   4,799|        2,948|        61.4|   6,792|        4,340|        63.9|
+--------+--------+--------+-------------+------------+--------+-------------+------------+
only showing top 5 rows

In [ ]:

merged_df = df1.join(df2, on="district", how="inner") \
               .join(df3, on="district", how="inner") \
               .join(df4, on="district", how="inner") \
               .join(df5, on="district", how="inner")


merged_df.show(5)

+------------+-------+-------+-------+-------+-------+-------+-------+-------+-------+--------+------------+------------------+---------+----------+-----------------+-------+----------+---+-----+------+------+--------+----+----+--------+------------------------+-------------------------------+-----+-------------------------+-------------------------+-----+----+----+----+--------+------------------------+-------------------------------------+-----+------------------------+-------------------------------------+-----+
|    district|Grade 1|Grade 2|Grade 3|Grade 4|Grade 5|Grade 6|Grade 7|Grade 8|Grade 9|Grade 10|Grade 11-1st|Grade 11 repeaters|Grade 12 | Grade 13 |Special education|  Total|Both sexes|_c2| Male|Male %|Female|Female %|2015|2020|     Sex|Sat for G.C.E (O/L) 2015|Qualified for G.C.E. (A/L) 2015|2015%|Sat for G.C.E (O/L) 20195|Sat for G.C.E (O/L) 20196|2019%| _c8| _c9|_c10|  Gender|Sat for G.C.E (A/L) 2015|Eligible for university entrance 2015|2015%|Sat for G.C.E (A/L) 2020|Eligible for university entrance 2020|2020%|
+------------+-------+-------+-------+-------+-------+-------+-------+-------+-------+--------+------------+------------------+---------+----------+-----------------+-------+----------+---+-----+------+------+--------+----+----+--------+------------------------+-------------------------------+-----+-------------------------+-------------------------+-----+----+----+----+--------+------------------------+-------------------------------------+-----+------------------------+-------------------------------------+-----+
|     Colombo| 24,687| 25,994| 25,909| 26,786| 26,496| 29,775| 31,491| 30,949| 30,785|  30,357|      29,753|               131|   23,250|    21,724|              340|358,427|    22,206|100|3,772|  17.0|18,434|    83.0|  22|20.0|Both sex|                  32,252|                         23,980| 74.4|                   36,170|                   27,692| 76.6|NULL|NULL|NULL|Both sex|                  25,913|                               16,502| 63.7|                  32,151|                               21,297| 66.2|
|    Kalutara| 17,474| 18,217| 17,961| 18,228| 17,624| 17,852| 19,059| 18,865| 18,667|  18,055|      16,899|               376|   11,871|    11,290|              343|222,781|    12,605|100|2,186|  17.3|10,419|    82.7|  20|19.3|Both sex|                  16,067|                         11,000| 68.5|                   18,599|                   13,182| 70.9|NULL|NULL|NULL|Both sex|                  11,414|                                7,020| 61.5|                  15,560|                               10,016| 64.4|
|      Matale|  8,557|  8,739|  9,002|  8,734|  8,326|  8,264|  8,624|  8,313|  8,036|   7,757|       7,839|               103|    5,540|     4,968|              181|102,983|     6,943|100|1,653|  23.8| 5,290|    76.2|  15|15.5|Both sex|                   6,950|                          4,376| 63.0|                    8,239|                    5,640| 68.5|NULL|NULL|NULL|Both sex|                   4,799|                                2,948| 61.4|                   6,792|                                4,340| 63.9|
|Nuwara Eliya| 12,520| 13,844| 13,722| 13,287| 12,904| 13,263| 13,584| 13,868| 13,807|  12,764|      11,918|               278|    7,365|     6,672|              257|160,053|    10,798|100|3,182|  29.5| 7,616|    70.5|  16|15.1|Both sex|                  10,252|                          6,019| 58.7|                   12,448|                    7,761| 62.3|NULL|NULL|NULL|Both sex|                   5,834|                                3,645| 62.5|                   8,331|                                5,156| 61.9|
|       Galle| 16,610| 17,081| 17,132| 17,349| 16,659| 17,599| 18,689| 18,433| 18,535|  17,269|      16,870|               175|   12,080|    11,329|              329|216,139|    13,064|100|2,990|  22.9|10,074|    77.1|  20|17.4|Both sex|                  15,701|                         11,333| 72.2|                   16,859|                   12,592| 74.7|NULL|NULL|NULL|Both sex|                  12,731|                                7,733| 60.7|                  15,789|                               10,488| 66.4|
+------------+-------+-------+-------+-------+-------+-------+-------+-------+-------+--------+------------+------------------+---------+----------+-----------------+-------+----------+---+-----+------+------+--------+----+----+--------+------------------------+-------------------------------+-----+-------------------------+-------------------------+-----+----+----+----+--------+------------------------+-------------------------------------+-----+------------------------+-------------------------------------+-----+
only showing top 5 rows